@model MavAutoKozm.Models.Vehicle
<link rel=" stylesheet " href="~/css/foOldal.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Szerkesztés";
}

<img src="~/css/image/3cf626720ae64fb5a5b5d9eab9e8c185.png" alt="LOGO" style="float:right;width:90px;height:90px;" />
<h1>@MavAutoKozm.Resources.Resource.Szerkesztés</h1>

<hr />
<div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <!-- <label asp-for="AppUserId" class="control-label"></label> -->                
                <input asp-for="AppUserId" class="form-control" />
                <span asp-validation-for="AppUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label">@MavAutoKozm.Resources.Resource.Márka</label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">@MavAutoKozm.Resources.Resource.Modell</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">@MavAutoKozm.Resources.Resource.Típus</label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label">@MavAutoKozm.Resources.Resource.Szín</label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberPlate" class="control-label">@MavAutoKozm.Resources.Resource.Rendszám</label>
                <input asp-for="NumberPlate" class="form-control" />
                <span asp-validation-for="NumberPlate" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="@MavAutoKozm.Resources.Resource.Mentés" style="padding: 15px;
                                margin: 15px 0px;
                                width: 220px;
                                font-size: 15px;
                                background: lightblue;
                                border-radius: 10px;
                                font-weight: 800;
                                box-shadow: 3px 3px 0px 0px black;
                                text-align:center" />
            </div>
        </form>
    </div>
</div>
<p></p>
<div>
    <a class="foOldalGombja nav-link text-dark" asp-action="Index">@MavAutoKozm.Resources.Resource.Vissza_a_listába</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
