@model IEnumerable<MavAutoKozm.Models.Vehicle>

@{
    ViewData["Title"] = "Járműveim";
}
<img src="~/css/image/3cf626720ae64fb5a5b5d9eab9e8c185.png" alt="LOGO" style="float:right;width:90px;height:90px;" />
<h1>@MavAutoKozm.Resources.Resource.Járműveim</h1>


<table class="table" aria-hidden="true">
    <thead>
        <tr>
            <th>
                @MavAutoKozm.Resources.Resource.Márka
            </th>
            <th>
                @MavAutoKozm.Resources.Resource.Modell
            </th>
            <th>
                @MavAutoKozm.Resources.Resource.Típus
            </th>
            <th>
                @MavAutoKozm.Resources.Resource.Szín
            </th>
            <th>
                @MavAutoKozm.Resources.Resource.Rendszám
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberPlate)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@MavAutoKozm.Resources.Resource.Szerkesztés</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@MavAutoKozm.Resources.Resource.Részletek</a> |
                    <a style="color: red"asp-action="Delete" asp-route-id="@item.Id">@MavAutoKozm.Resources.Resource.Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a 
        style="background-color: lightblue;
                color: black;
                padding: 5px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                border-radius: 5px;
                border: 1px solid black;
                width:15%;
                font-size: 14px;
                margin-bottom:1%;"
       asp-action="Create">
        @MavAutoKozm.Resources.Resource.Új_hozzáadása
   </a>
</p>
