@model MavAutoKozm.Models.UserInRoleList

@{
    ViewData["Title"] = "Részletek";
}

<h1>@ViewData["RoleName"]</h1>

 <form asp-action="Edit">
    <table class="table" aria-hidden="true">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.list[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.list[0].UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.list[0].Member)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.list) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>

                    <input class="form-check-input" asp-for="@item.Member" disabled/>

                </td>
                <td>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <p></p>
    @*<div class="form-group">
        <input type="submit" value="Mentés" style="background-color:#add8e6; color:black; padding: 5px 20px; text-align: center;
                    text-decoration: none; display: inline-block; border-radius: 5px; border: 1px solid black; width: 20%; font-size: 14px;
                    margin-bottom: 1%" />
    </div>*@
</form>
