@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
<link rel=" stylesheet " href="~/css/foOldal.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Roles";
}

<h1>@MavAutoKozm.Resources.Resource.Szerepkörök</h1>

<p>
    <a class="foOldalGombja nav-link text-dark" asp-action="Create">@MavAutoKozm.Resources.Resource.Új_hozzáadása</a>
</p>
<table class="table" aria-hidden="true">
    <thead>
        <tr>
            <th>
                @MavAutoKozm.Resources.Resource.Megnevezés
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@MavAutoKozm.Resources.Resource.Részletek</a> |
                    <a style="color: red" asp-action="DeleteRole" asp-route-id="@item.Id">@MavAutoKozm.Resources.Resource.Törlés</a>
                </td>
            </tr>
        }
    </tbody>
</table>

