@{
    ViewData["Title"] = "Kategória";
}
<link rel="stylesheet" href="~/css/order.css" />
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<table style="width:100%" aria-hidden="true">
        <tr>
            <td>
            <div class="container">
                <p>
                    <a asp-action="ServiceSelect" asp-route-category="@Convert.ToInt32(NeedsEnums.CategoryType.Car)">
                        <img src="~/css/image/auto.jpg" alt="Személyautó" style="width:350px;height:200px;"/>
                        <div class="overlay">
                            <div class="text">Személyautó</div>
                        </div>
                    </a>
                </p>
            </div>
            </td>
            <td>
            <div class="container">
                <p>
                    <a asp-action="ServiceSelect" asp-route-category="@Convert.ToInt32(NeedsEnums.CategoryType.Van)">
                        <img src="~/css/image/van1.jpg" alt="Teherautó" style="width:350px;height:200px;"/>
                        <div class="overlay">
                            <div class="text">Teherautó</div>
                        </div>
                    </a>
                </p>
            </div>
            </td>
        </tr>
        <tr>
            <td>
            <div class="container">
                <p>
                    <a asp-action="ServiceSelect" asp-route-category="@Convert.ToInt32(NeedsEnums.CategoryType.Truck)">
                        <img src="~/css/image/truck.jpeg.jpg" alt="Kamion" style="width:350px;height:200px;"/>
                        <div class="overlay">
                            <div class="text">Kamion</div>
                        </div>
                    </a>
                </p>
            </div>
            </td>
            <td>
            <div class="container">
                    <p>
                        <a asp-action="ServiceSelect" asp-route-category="@Convert.ToInt32(NeedsEnums.CategoryType.Bike)">
                            <img src="~/css/image/bike.jpg" alt="Motor" style="width:350px;height:200px;"/>
                        <div class="overlay">
                            <div class="text">Motor</div>
                        </div>
                        </a>
                    </p>
            </div>
            </td>
        </tr>
</table>