@{
    ViewData["Title"] = "Kategória";
}
<link rel="stylesheet" href="~/css/order.css" />
<p>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</p>
<table style="width:100%" aria-hidden="true">
        <tr>
            <td>
            <div class="container">
                <p class="spaceing">
                    <a asp-action="ServiceSelect" asp-route-category="@Convert.ToInt32(NeedsEnums.CategoryType.Car)">
                        <img src="~/css/image/auto2.JPG" alt="Személyautó" style="width:350px;height:200px; border-radius: 16px;border: 2px solid black" />
                        <div class="overlayj">
                            <div class="text">Személyautó</div>
                        </div>
                    </a>
                </p>
            </div>
            </td>
            <td>
            <div class="container">
                <p class="spaceing">
                    <a asp-action="ServiceSelect" asp-route-category="@Convert.ToInt32(NeedsEnums.CategoryType.Van)">
                        <img src="~/css/image/van2.jpg" alt="Teherautó" style="width:350px;height:200px; border-radius: 16px;border: 2px solid black" />
                        <div class="overlayl">
                            <div class="text">Teherautó</div>
                        </div>
                    </a>
                </p>
            </div>
            </td>
        </tr>
        <tr>
            <td>
            <div class="container">
                <p>
                    <a asp-action="ServiceSelect" asp-route-category="@Convert.ToInt32(NeedsEnums.CategoryType.Truck)">
                        <img src="~/css/image/truck2.JPG" alt="Kamion" style="width:350px;height:200px; border-radius: 16px; border: 2px solid black" />
                        <div class="overlayf">
                            <div class="text">Kamion</div>
                        </div>
                    </a>
                </p>
            </div>
            </td>
            <td>
            <div class="container">
                    <p>
                        <a asp-action="ServiceSelect" asp-route-category="@Convert.ToInt32(NeedsEnums.CategoryType.Bike)">
                        <img src="~/css/image/motor2.JPG" alt="Motor" style="width:350px;height:200px; border-radius: 16px; border: 2px solid black" />
                        <div class="overlayb">
                            <div class="text">Motor</div>
                        </div>
                        </a>
                    </p>
            </div>
            </td>
        </tr>
</table>