<link rel=" stylesheet " href="~/css/foOldal.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Főoldal";
}

<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">@MavAutoKozm.Resources.Resource.Üdvözöljük </h1>
        <p>
            <img src="~/css/image/3cf626720ae64fb5a5b5d9eab9e8c185.png" alt="LOGO" />
        </p>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>@MavAutoKozm.Resources.Resource.Röviden_a_cégünkről_L</h2>
        <p>
            @MavAutoKozm.Resources.Resource.Röviden_a_cégünkről
        </p>
    </div>
    <div class="col-md-4">
        <h2>@MavAutoKozm.Resources.Resource.Hogyan_lehet_megrendelni_L</h2>
        <p>
            @MavAutoKozm.Resources.Resource.Hogyan_lehet_megrendelni
        </p>

    </div>
    <div class="col-md-4">
        <h2>@MavAutoKozm.Resources.Resource.Mikor_lehet_átvenni_L</h2>
        <p>
            @MavAutoKozm.Resources.Resource.Mikor_lehet_átvenni
        </p>
    </div>
</div>
<p></p>
<div class="row">
    <a class="foOldalGombja nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CategorySelect">@MavAutoKozm.Resources.Resource.Megrendelés_Indítása</a>
</div>