@model IEnumerable<MavAutoKozm.Models.Orders>

@{
    ViewData["Title"] = "Megrendelések";
}

<h1>Megrendelések</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUserId)
                </td>
                <td>
                    @{
                        var MegrendelesId = $"VH-{DateTime.Now.Year}-{item.Id}";
                        @Html.DisplayFor(modelItem => MegrendelesId)
                      }

                </td>
                <td>
                    @{
                        var Price = String.Format("{0:C0}", item.Price);
                    }
                    <div>@Price</div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTime)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Szerkesztés</a> |*@
                    <a asp-action="DetailsOrder" asp-route-id="@item.Id">Részletek</a> |
                    <a asp-action="DeleteOrder" asp-route-id="@item.Id">Törlés</a>
                </td>
            </tr>
        }
    </tbody>
</table>
