@model IEnumerable<MavAutoKozm.Models.Orders>

@{
    ViewData["Title"] = "Megrendelések";
}
<img src="~/css/image/3cf626720ae64fb5a5b5d9eab9e8c185.png" alt="LOGO" style="float:right;width:90px;height:90px;" />
<h1>@MavAutoKozm.Resources.Resource.Megrendelések</h1>


<table class="table" aria-hidden="true">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @MavAutoKozm.Resources.Resource.Ár
            </th>
            <th>
                @MavAutoKozm.Resources.Resource.Kategória
            </th>
            <th>
                @MavAutoKozm.Resources.Resource.Megrendelési_idő
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUserId)
                </td>
                <td>
                    @{
                        var MegrendelesId = $"VH-{item.OrderTime.Year}-{item.Id}";
                        @Html.DisplayFor(modelItem => MegrendelesId)
                      }

                </td>
                <td>
                    @{
                        var Price = String.Format("{0:C0}", item.Price);
                    }
                    <div>@Price</div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTime)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Szerkesztés</a> |*@
                    <a asp-action="DetailsOrder" asp-route-id="@item.Id">@MavAutoKozm.Resources.Resource.Részletek</a> |
                    <a style="color: red" asp-action="DeleteOrder" asp-route-id="@item.Id">@MavAutoKozm.Resources.Resource.Törlés</a>
                </td>
            </tr>
        }
    </tbody>
</table>
