@{
    ViewData["Title"] = " Adatvédelmi Irányelv Tájékoztató";
}

<link rel="stylesheet" href="~/css/Privacy.css" asp-append-version="true" />


<div>
    <h1 class="title">@MavAutoKozm.Resources.Resource.Privacy</h1>

    <div class="main">
        <h5>@MavAutoKozm.Resources.Resource.Privacy1L</h5>

        <p>@MavAutoKozm.Resources.Resource.Privacy1</p>

        <h5>@MavAutoKozm.Resources.Resource.Privacy2L</h5>

        @MavAutoKozm.Resources.Resource.Privacy2
        <h5>@MavAutoKozm.Resources.Resource.Privacy3L</h5>

        
        <p>@MavAutoKozm.Resources.Resource.Privacy3_1</p>
        <ul>
            <li>@MavAutoKozm.Resources.Resource.Privacy3_2</li>
            <li>@MavAutoKozm.Resources.Resource.Privacy3_3</li>
            <li>@MavAutoKozm.Resources.Resource.Privacy3_4</li>
            <li>@MavAutoKozm.Resources.Resource.Privacy3_5</li>
            <li>@MavAutoKozm.Resources.Resource.Privacy3_6</li>
            <li>@MavAutoKozm.Resources.Resource.Privacy3_7</li>
        </ul>

        <h5>@MavAutoKozm.Resources.Resource.Privacy4L</h5>

        <p>@MavAutoKozm.Resources.Resource.Privacy4</p>

        <h5>@MavAutoKozm.Resources.Resource.Privacy5L</h5>

        <p>
            @MavAutoKozm.Resources.Resource.Privacy5
        </p>

        <h5>@MavAutoKozm.Resources.Resource.Privacy6L</h5>

        <p>
            @MavAutoKozm.Resources.Resource.Privacy6
            <ul>
                <li>admin@admin.com</li>
            </ul>


    </div>
</div>
