@model MavAutoKozm.Models.ServiceSelectViewModel

@{
    ViewData["Title"] = "Igények";
}

<h1>Igények</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ServiceSelect">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control"readonly="true" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="Quality" class="control-label"></label>
                <!-- <input asp-for="Quality" class="form-control" /> -->
                <span asp-validation-for="Quality" class="text-danger"></span>
                <select asp-for="Quality">
                    <option value="@Convert.ToInt32(NeedsEnums.QualityType.Default)">Alap</option>
                    <option value="@Convert.ToInt32(NeedsEnums.QualityType.Bestbuy)">Legjobb választás</option>
                    <option value="@Convert.ToInt32(NeedsEnums.QualityType.Premium)">Prémium</option>
                </select>
            </div>
            <p></p>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Outer" /> @Html.DisplayNameFor(model => model.Outer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Inner" /> @Html.DisplayNameFor(model => model.Inner)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Polish" /> @Html.DisplayNameFor(model => model.Polish)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Wax" /> @Html.DisplayNameFor(model => model.Wax)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ceramic" /> @Html.DisplayNameFor(model => model.Ceramic)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ppf" /> @Html.DisplayNameFor(model => model.Ppf)
                </label>
            </div>          
            <p></p>
            <div class="form-group">
                <input type="submit" value="Tovább" class="btn btn-primary" style="background-color:#add8e6; color:black; padding: 5px 20px; text-align: center;
                    text-decoration: none; display: inline-block; border-radius: 5px; border: 1px solid black; width: 20%; font-size: 14px;
                    margin-bottom: 1%"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
