@model MavAutoKozm.Models.SummaryViewModel
<link rel=" stylesheet " href="~/css/foOldal.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Összegzés";
}
<img src="~/css/image/3cf626720ae64fb5a5b5d9eab9e8c185.png" alt="LOGO" style="float:right;width:90px;height:90px;" />
<h1>@MavAutoKozm.Resources.Resource.Összegzés</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActualAppUser.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActualAppUser.ID)
        </dd>
        <dt class = "col-sm-2">
            @MavAutoKozm.Resources.Resource.Vezetéknév
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualAppUser.LastName)
        </dd>
        <dt class = "col-sm-2">
            @MavAutoKozm.Resources.Resource.Keresztnév
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualAppUser.FirstMidName)
        </dd>
        <dt class = "col-sm-2">
            @MavAutoKozm.Resources.Resource.Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualAppUser.Email)
        </dd>
        <dt class = "col-sm-2">
            @MavAutoKozm.Resources.Resource.Telefonszám
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualAppUser.PhoneNumber)
        </dd>
        <hr>
        <dt class="col-sm-2">
                @MavAutoKozm.Resources.Resource.Márka
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedVehicle.Brand)
        </dd>
        <dt class="col-sm-2">
                @MavAutoKozm.Resources.Resource.Modell
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedVehicle.Model)
        </dd>
        <dt class="col-sm-2">
                @MavAutoKozm.Resources.Resource.Szín
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedVehicle.Color)
        </dd>
        <dt class="col-sm-2">
                @MavAutoKozm.Resources.Resource.Rendszám
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedVehicle.NumberPlate)
        </dd>
        <hr>
        <dt class="col-sm-2">
                    @MavAutoKozm.Resources.Resource.Külső_tisztítás
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedServices.Outer)
        </dd>
        <dt class="col-sm-2">
                    @MavAutoKozm.Resources.Resource.Belső_tisztítás
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedServices.Inner)
        </dd>
        <dt class="col-sm-2">
                    @MavAutoKozm.Resources.Resource.Polírozás
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedServices.Polish)
        </dd>
        <dt class="col-sm-2">
                    @MavAutoKozm.Resources.Resource.Waxolás
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedServices.Wax)
        </dd>
        <dt class="col-sm-2">
                    @MavAutoKozm.Resources.Resource.Kerámia_bevonat
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedServices.Ceramic)
        </dd>
        <dt class="col-sm-2">
                    @MavAutoKozm.Resources.Resource.Kavics_védő_fólia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedServices.Ppf)
        </dd>
        <dt class="col-sm-2">
                    @MavAutoKozm.Resources.Resource.Kategória
        </dt>
        <dd class="col-sm-10">
                    @if (Model.SelectedServices.Category == 0)
                    {
                        <div>@MavAutoKozm.Resources.Resource.Személyautó</div>
                    }
                    else if (Model.SelectedServices.Category == 1)
                    {
                        <div>@MavAutoKozm.Resources.Resource.Teherautó</div>
                    }
                    else if (Model.SelectedServices.Category == 2)
                    {
                        <div>@MavAutoKozm.Resources.Resource.Kamion</div>
                    }
                    else
                    {
                        <div>@MavAutoKozm.Resources.Resource.Motor</div>
                    }
        </dd>
        <dt class="col-sm-2">
                    @MavAutoKozm.Resources.Resource.Minőségi_szint
        </dt>
        <dd class="col-sm-10">
                    @if (Model.SelectedServices.Quality == 0)
                    {
                        <div>@MavAutoKozm.Resources.Resource.Alap</div>
                    }
                    else if (Model.SelectedServices.Quality == 1)
                    {
                        <div>@MavAutoKozm.Resources.Resource.Legjobb_választás</div>
                    }
                    else
                    {
                        <div>@MavAutoKozm.Resources.Resource.Prémium</div>
                    }
        </dd>
        <hr>
        <dt class="col-sm-2">
                        @MavAutoKozm.Resources.Resource.Ár
        </dt>
        <dd class="col-sm-10">
            @{
                var Price = String.Format("{0:C0}", Model.Price);
            }
            <div>@Price</div>
        <dt class="col-sm-2">
                            @MavAutoKozm.Resources.Resource.Megrendelési_idő
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
        <dt class="col-sm-2">
                            @MavAutoKozm.Resources.Resource.Végrehajtási_idő
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompletedTime)
        </dd>
    </dl>
</div>
<table class="row" aria-hidden="true">
    <tr>
        <td>
            <a class="Gomb nav-link text-dark" asp-action="ServiceSelect">@MavAutoKozm.Resources.Resource.Módosítás</a>
        </td>
        <td>
            <a class="Gomb nav-link text-dark" asp-action="SaveToDatabase">@MavAutoKozm.Resources.Resource.Megrendelés</a>
        </td>
    </tr>   
</table>
