@model MavAutoKozm.Models.AppUser
<link rel=" stylesheet " href="~/css/foOldal.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Részletek";
}

<img src="~/css/image/3cf626720ae64fb5a5b5d9eab9e8c185.png" alt="LOGO" style="float:right;width:90px;height:90px;" />
<h1>@MavAutoKozm.Resources.Resource.Részletek</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @MavAutoKozm.Resources.Resource.Vezetéknév
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @MavAutoKozm.Resources.Resource.Keresztnév
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt class = "col-sm-2">
            @MavAutoKozm.Resources.Resource.Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @MavAutoKozm.Resources.Resource.Telefonszám
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AspNetUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AspNetUserId)
        </dd>

        <dt class="col-sm-2">
            @MavAutoKozm.Resources.Resource.Járműveim
        </dt>
        <dd class="col-sm-10">
            @if (Model.Vehicles is not null)
            {
                @foreach (var item in Model.Vehicles)
                {
                    <a asp-controller="Vehicles" asp-action="Details" asp-route-id="@item.Id">@item.NumberPlate</a>
                }  
            }
            
        </dd>
    </dl>
</div>
<div>
    <a style="margin-right:30px;" class="foOldalGombja nav-link text-dark" asp-action="Edit" asp-route-id="@Model?.ID">@MavAutoKozm.Resources.Resource.Szerkesztés</a>
</div>
