@page
@model LoginModel

@*@{
    ViewData["Title"] = "Bejelentkezés";
}*@

<link rel="stylesheet" href="~/css/register.css" />
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

        

</div>
<div class="container">
    <div class="form_area">
        <img src="~/css/image/3cf626720ae64fb5a5b5d9eab9e8c185.png" alt="LOGO" height="100px" width="100px" />
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form_group">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />                    
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form_group">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />                    
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button class="btn"
                            
                        id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">
                        @MavAutoKozm.Resources.Resource.Bejelentkezés
                    </button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">@MavAutoKozm.Resources.Resource.Elfelejtettem_a_jelszavam</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">@MavAutoKozm.Resources.Resource.Email_es_megerősítés_újraküldése</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
